.defaultSlide {
  width: 400px;
  margin: 0;
  color: #999;
  font-family: sans-serif;
}

.defaultSlide a {
  color: #333;
  text-decoration: none;
}

.defaultSlide a:hover {
  text-decoration: underline;
}
